<html>
<head>
    {% block head %}{% endblock %}
</head>
<body>
<section id="content" class="container">
    {% block content %}{% endblock %}
</section>
<footer class="container">
    {% include 'elements/footer.twig' %}
</footer>
</body>
</html>