<div class="box has-margin-bottom">
    <h4>Jetzt eine Stadt erstellen</h4>
    <ol class="decimal">
        <li>Kostenlos registrieren</li>
    </ol>
    <a class="tf-button large green" href="{{ base_url }}/registrieren.htm">Registrieren</a>
</div>