<div class="box white has-margin-bottom">
    <h4>Rufen Sie uns an!</h4>
    <p>
        Wir sind täglich für Sie erreichbar.
        <strong>{{ support.freePhone }}</strong><br>
        <small>gratis aus dem dt. Festnetz</small>
    </p>
    <p>
        <span>Telefon: </span><strong>{{ support.landline }}</strong><br>
        <a href="mailto:{{ support.mail.info }}?subject=Kontaktanfrage" itemprop="email">{{ support.mail.info }}</a>
    </p>
    <p>
        Build Your City Team<br>
        Auf der Burg 12<br>
        DE - 28217 Bremen
    </p>
</div>