<div class="row heading">
    <span class="left">&copy; 2014-{{ "now"|date("Y") }}</span> <a href="#">Build Your City</a>
    <span class="right">Sei Teil der Erbauer deiner Stadt</span>
</div>
<div class="row links scroll-to-anchor js-scroll-to">
    <div class="below-footer show-on-mobile">
        <a class="footer-toggle js-scroll-to js-anchor" href="#">Kontakt, Impressum und mehr <i class="ff ff-caret-down"></i></a>
    </div>

    <ul>
        <li>
            <h4>Sprache</h4>
            <ol>
                <li><a href="{{ base_url }}/en" title="English version">English</a></li>
                <li><a href="{{ base_url }}" title="Deutschsprachige Version">Deutsch</a></li>
            </ol>
        </li>
        <li>
            <h4>Meist bebaute Städte</h4>
            <ol>
                <li><a href="#">Deutschland</a></li>
                <li><a href="#">Weltweit</a></li>
                <li><a href="#">Metropolen</a></li>
            </ol>
        </li>
        <li>
            <h4>Placeholder</h4>
            <ol>
                <li><a href="#">p1</a></li>
                <li><a href="#">p2</a></li>
            </ol>
        </li>
        <li>
            <h4>Unternehmen</h4>
            <ol>
                <li><a href="#">&Uuml;ber uns</a></li>
                <li><a href="#">Mitarbeiter</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Pressespiegel</a></li>
                <li><a href="#">Presse</a></li>
            </ol>
        </li>
        <li>
            <h4>Service</h4>
            <ol>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Hilfe</a></li>
                <li><a href="#">AGB</a></li>
            </ol>
        </li>
    </ul>
</div>