<section class="box has-margin-bottom">

    {% include 'elements/heading.twig' with {'mainHeading': attributes.mainHeading, 'subHeading': attributes.subHeading} %}

    <div class="banner index">
            <h3>Hier steht bald ganz viel</h3>
    </div>

    <ul class="content-icon-list check">
    </ul>
</section>